<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.repictures.stromberg">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".Firebase.FirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".LoginActivity"
            android:configChanges="locale|orientation"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".TransfersActivity"
            android:label="@string/title_activity_transfers"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.repictures.stromberg.MainActivity" />
        </activity>
        <activity
            android:name=".ScanProductActivity"
            android:label="@string/title_activity_scan"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.TransparentStatusBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.repictures.stromberg.MainActivity" />
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="78ed52ec022c6bc124bc7fad0a645f956076813b" />

        <activity
            android:name=".Features.TransferDialogActivity"
            android:label="@string/title_activity_transfer_dialog_fragment"
            android:parentActivityName=".TransfersActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.repictures.stromberg.TransfersActivity" />
        </activity>
        <activity
            android:name=".Features.AddProductActivity"
            android:label="@string/title_add_product"
            android:parentActivityName=".Features.ProductsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.repictures.stromberg.Features.ProductsActivity" />
        </activity>
        <activity
            android:name=".CompanyActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".Features.AddAuthKeyActivity" />
        <activity
            android:name=".AuthScanActivity"
            android:label="@string/title_activity_auth_scan"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar.TransparentStatusBar" />

        <service android:name=".Firebase.FingerhutFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".OrderListActivity"
            android:label="@string/title_order_list"
            android:parentActivityName=".CompanyActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="de.repictures.stromberg.ORDERS_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.repictures.stromberg.CompanyActivity" />
        </activity>
        <activity
            android:name=".OrderDetailActivity"
            android:label="@string/title_order_detail"
            android:parentActivityName=".OrderListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.repictures.stromberg.OrderListActivity" />
        </activity>
        <activity
            android:name=".Features.EditAccountActivity"
            android:label="@string/title_activity_edit_account"
            android:parentActivityName=".CompanyActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.repictures.stromberg.CompanyActivity" />
        </activity>
        <activity
            android:name=".Features.EmployeesActivity"
            android:label="@string/title_activity_employees"
            android:parentActivityName=".CompanyActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.repictures.stromberg.CompanyActivity" />
        </activity>
        <activity
            android:name=".Features.EditEmployeeActivity"
            android:label="@string/title_activity_edit_employee"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Features.StatsActivity"
            android:label="@string/statistics"
            android:parentActivityName=".CompanyActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.repictures.stromberg.CompanyActivity" />
        </activity>
        <activity
            android:name=".Features.ProductsActivity"
            android:label="@string/title_activity_products"
            android:parentActivityName=".CompanyActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.repictures.stromberg.CompanyActivity" />
        </activity>
        <activity
            android:name=".Features.ScanPassportActivity"
            android:label="@string/title_activity_scan_passport"
            android:parentActivityName=".CompanyActivity"
            android:theme="@style/AppTheme.NoActionBar.TransparentStatusBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.repictures.stromberg.CompanyActivity" />
        </activity>
        <activity
            android:name=".Features.ChangeMoneyActivity"
            android:label="@string/title_activity_change_money"
            android:parentActivityName=".CompanyActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.repictures.stromberg.CompanyActivity" />
        </activity>
        <activity
            android:name=".Features.AddPrepaidAccountActivity"
            android:label="@string/title_activity_add_prepaid_account"
            android:parentActivityName=".CompanyActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.repictures.stromberg.CompanyActivity" />
        </activity>
        <activity
            android:name=".Features.AddEmployeeActivity"
            android:label="@string/title_activity_add_employee"
            android:parentActivityName=".CompanyActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.repictures.stromberg.CompanyActivity" />
        </activity>
        <activity
            android:name=".ManualActivity"
            android:label="@string/title_activity_manual"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.repictures.stromberg.MainActivity" />
        </activity>
        <activity
            android:name=".Features.CustomsActivity"
            android:label="@string/title_activity_customs"
            android:parentActivityName=".CompanyActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.repictures.stromberg.CompanyActivity" />
        </activity>
    </application>

</manifest>